*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;    
    overflow-x: hidden;
    background: transparent;
}

body
{
    /* background-image: url(/indian-rupees.jpg); */
    /* background-image: url(indian-rupees.jpg); */
    background-position: bottom;
}

main
{
    height: calc(100vh - 55px);
}

img
{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 55px);
    z-index: 0;
}

nav
{
    width: 100vw;
    height: 55px;
    background-color: #212529;
    display: flex;
    align-items: center;
}

nav h2
{
    color: white;
    padding-left: 10px;
}

#search
{
    margin-right: 35px;
    margin-left: auto;
    display: flex;
}

#search input ,#search button
{
    height: 37px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 0px solid #000;
    background-color: white;
    margin-left: 15px;
    font-size: 0.9rem;
}

#searcharea:focus
{
    outline: none;
}

#search button
{
    background: #04aa6d;
    color: white;
}

#content_container
{
    max-width: 1000px;
    margin: 10px auto;
}

#input_section
{
    width: fit-content;
    margin: auto;
}

#expense_title input
{
    width: 456px;
}

::placeholder
{
    color: rgb(117, 53, 53);
}

#input-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

#expense_title,#expense_date,#expense_amount
{
    display: flex;
}

#expense_title label,#expense_date label,#expense_amount label
{
    font-size: 1.5rem;
    margin-right: 10px;
}

#btn_section
{
    margin: auto;
    width: fit-content;    
    margin: 25px auto;
}

#addBtn,#clearAll
{
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 12px;
    border: 2px solid #0489c9;
    background: transparent;
    color: #0489c9;
    /* background: #0489c9; */
    margin: 0px 10px;
}

#addBtn:hover,#clearAll:hover
{    
    /* font-weight: 700;
    border: 2px solid #0489c9;
    background: transparent; */
    color: #ffff;
    background: #0489c9;

}

#totalExpense
{
    width: fit-content;
    margin-right: 0%;
    margin-left: auto;
    font-size: 1.5rem;
}

table
{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

th
{
    font-size: 1.4rem;
}

tr
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
}

tbody tr
{
    height: 30px;
    background: rgb(210, 226, 221);
    margin: 5px 0px;
    border: 1px solid #000;
    border-radius: 5px;
}

td button
{
    font-size: 1.4rem;
    color: red;
    background: black;
    border: 0px solid #000;
    border-radius: 100%;
    padding: 0px 15px;
}

.title-td
{
    text-align: start;
    padding-left: 10px;
}

button:hover
{
    cursor: pointer;
}